<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">First</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AttributeDemo">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> AttributesDemo
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="bindingcomponentdemoo">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> BindingComponents
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="binding">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Binding
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cascadingParamaeterDemo">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Cascading parameter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="demo">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Demo
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dep">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Dependenci
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="eventCallbackDemo">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Event callback demo
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="mybuttond">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Button playground
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="playWW">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Word playground
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="playWW/{IntVariable:int}">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Word playground int variable
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="playWW/{Variable}">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Word playground variable
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="lifecycle">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> lifecycle
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="stateServiceDemo">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> State Service Demo
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="localstoragedemo">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Local storage demo
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="virtualizeDemo">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Virtualize demo
            </NavLink>
        </div>
       
        
    </nav>
</div>

@code {
    //
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
