@page "/mybuttond"

<h3>MyButtonDemo</h3>

<p role="status">Current count: @currentCount</p>

<MyButton class="btn btn-primary" Onclick="IncrementCount">Click me</MyButton>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
