<!--ez egy segéd osztály-->
@typeparam TItem

<h3>MyList</h3>

@if (Items != null)
{
    foreach (var item in Items)
    {
        <div>@item?.ToString()</div>
    }
}

@code {
    [Parameter]
    public IEnumerable<TItem>? Items { get; set; }
}
